@media screen and (max-width: 1200px) {
    #searchOption input{
        font-size:18px;
    }
    #searchOption button{
        font-size:18px;
        /* padding: 5px 15px; */
    }
}

@media screen and (max-width: 970px) {
    #searchOption h2{
        font-size:22px
    }
    #searchOption input{
        font-size:16px;
    }
    #searchOption button{
        font-size:16px;
        /* padding: 5px 16px; */
    }
}

@media screen and (max-width: 750px) {
    #infoIntro h1{
        font-size:35px;
    }
    #searchOption h2{
        font-size:20px
    }

    #searchOption input{
        font-size:14px;
    }
    #searchOption button{
        font-size:14px;
        /* padding: 5px 16px; */
    }
}

@media screen and (max-width: 480px) {
    #infoIntro h1{
        font-size:30px;
    }

    #searchOption{
        width:100%;
    }

    #searchOption h2{
        font-size:16px
    }

    #searchOption button{
        font-size:12px;
        /* padding: 5px 10px; */
    }
    #searchOption input{
        font-size:12px;
    }
  }