/* *{
    scroll-behavior: smooth !important;
} */

body {
  margin: 0% 2% 2% 2%;
}

button {
  background-color: #ffcd46;
  border-radius: 10px;
  padding: 7px 20px;
  border: none;
}

button:hover {
  cursor: pointer;
}

input:hover {
  cursor: pointer;
}

label:hover {
  cursor: pointer;
}

a {
  color: black;
}

h2 {
  margin: 5%;
}

form {
  margin: 3%;
}

/* navbar */

nav {
  background-color: white;
}

.navbar {
  padding-bottom: 10px;
}

.navbar-brand {
  font-size: 40px;
}

.navbar-brand:hover {
  color: black;
}

.nav-item {
  background-color: #ffcd46;
  font-size: 20px;
  margin-top: 4%;
  margin-left: 5%;
}

.nav-item:hover {
  /* background-color: red; */
  box-shadow: 0 8px 6px -6px #999;
}

.nav-item a:hover {
  color: black;
}

#navbarNav {
  justify-content: flex-end;
  margin-right: 6%;
}

/* navbar collapse toggler icon */
.navbar-toggler-icon {
  font-size: 30px;
}

.navbar-toggler {
  margin-top: 3%;
}

/* ************************HOME PAGE************************** */

/* **********MAIN********** */
.mainMsg h1 {
  font-size: 55px;
}

.mainMsg p {
  margin-top: 2%;
  font-size: 18px;
  text-align: left;
  max-width: 60%;
}

/* .subMsg{
  font-size: 22px;
} */

.mainMsg {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 70%;
}

.main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: 90%;
  height: 700px;
  object-fit: cover;
}

/* **********CAROUSEL********** */
.carousel-inner {
  margin: 3% 5%;
  max-width: 90%;
}

.carousel-inner .carousel-item {
  max-height: 800px;
}
/* **********EXPLORE CARDS********** */
#exploreTitle {
  text-align: center;
  font-size: 40px;
  margin: 2%;
  margin-top: 4%;
}

.displayExplore {
  display: flex;
  justify-content: space-evenly;
  margin: 2% 9%;
  /* margin-left: 9%;
    margin-right: 9%; */
  /* border: 2px dotted red; */
  /* background-color: #cfdbd5; */
}

.exploreCard {
  display: flex;
  width: 25%;
  flex-direction: column;
  margin: 2% 4%;
  /* border: 2px dotted red; */
  align-items: center;
  background-color: #ffcd46;
  /* background-color: #f9f0b5; */
  border-radius: 3%;
}

.exploreCard:hover {
  background-color: #f6d76d;
  cursor: pointer;
}

.exploreTitle {
  font-weight: 500;
  text-align: center;
  margin: 1%;
  font-size: 20px;
}
.exploreDescr {
  margin: 5%;
  margin-top: 10px;
}

.displayExplore img {
  /* width:400px; */
  max-height: 250px;
  max-width: 100%;
  object-fit: cover;
  object-position: 50%;

  /* margin-top:10%; */
  border-radius: 3%;
}

/* .imgDisplay{
    max-height:300px;
} */

.displayCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ************************INFO PAGE************************** */

.pageIntro h1 {
  margin-top: 2%;
  font-size: 40px;
  text-align: center;
}

#infoMainImg {
  width: 40%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0;
}

/* .pageIntro img {
  max-width:470px;
  min-height: 360px;
  width: 90%;
  height: 500px;
  margin: auto;
  object-fit: cover;
  border-radius: 10px;
} */

#infoIntro {
  font-size: 17px;
  text-align: center;
  margin: 3%;
}

#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 3%;
}

#displayFeatures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* align-items: center; */
}

.feature {
  border-radius: 10px;
  padding: 15px 25px;
  border: 1px solid #ffcd46;
  background-color: #ffcd46;
  margin: 2%;
  display: flex;
}

.featureTitle {
  font-size: 20px;
  font-weight: 700;
}

.featureDescr {
  padding: 0;
  margin: 2%;
}

.displayIntro {
  border-radius: 10px;
  padding: 0;
  border: 1px solid #ffcd46;
  margin: 0;
  max-width: 50%;
}

.displayIntro h2 {
  margin: 2%;
  font-size: 40px;
}

.infoDescr {
  font-size: 20px;
  margin: 1% 10%;
  background-color: #ffcd46;
  border-radius: 10px;
  padding: 7px 20px;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

#searchOption {
  margin: auto;
  text-align: center;
  /* margin: 4%; */
  /* border: 1px solid #ffcd46; */
  padding: 1%;
  border-radius: 15px;
  width: 80%;
}

#searchOption h2 {
  margin: 1%;
}

#searchOption form {
  margin: 1%;
}

#searchOption input {
  width: 80%;
  text-align: center;

  border-radius: 10px;
  border: 3px solid #ffcd46;
  font-size: 20px;
  border-radius: 10px;
}

#searchOption #searchBtn {
  background-color: #ffcd46;
  border-radius: 10px;
  padding: 7px 20px;
  border: none;
  font-weight: 600;
  font-size: 20px;
}

#chooseDisplay {
  text-align: center;
  margin: 3%;
}

#showInfo {
  /* display: block; */
  /* margin: 5% auto; */
  font-size: 30px;
  font-weight: 700;
}

#seeAll {
  font-size: 30px;
  font-weight: 700;
  display: none;
}

/* **********CARD DISPLAY********** */
.cardContent {
  margin: 3% 5%;
  display: flex;
  flex-direction: column;
}

/* .title i {
  width: 2px;
} */

.cardContent img {
  height: 128.42px;
  object-fit: contain;
  margin: 4% 0;
  /* margin-top: 4%; */
}

.title #cardName {
  text-align: center;
  overflow: hidden;
  word-break: break-all;
  font-size: 16px;
  float: right;
  min-width: 84%;
  max-width: 89%;
  font-weight: 650;
  margin: 0;
}

#cardType {
  text-align: center;
}

#cardDescr {
  line-height: 1.2;
  font-size: 12px;
  height: 150px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2%;
}

/* **********CARD FORMAT DISPLAY********** */

.ingredientInfo h2 {
  text-align: center;
  font-size: 20px;
  color: #ffcd46;
}
.displayCards {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ffcd46; */
  border: 2px solid #ffcd46;
  border-radius: 10px;
  padding: 7px 20px;
  margin: 2% 4%;
}

#plus {
  font-size: 100px;
}

#equal {
  font-size: 100px;
}

.cardsInfo {
  font-size: 20px;
  margin: 1% 10%;
  background-color: #ffcd46;
  border-radius: 10px;
  padding: 7px 20px;
}

/* **********CARD TEMPLATE OF DIFFERENT TYPES********** */
.ingredientCard {
  margin: 3%;
  background-color: #cfdbd5;
  border-radius: 3%;
  width: 270px;
  height: 350px;
  border-style: double;
  /* border: 4px solid green; */
}
.effectCard {
  margin: 3%;
  background-color: #cfdbd5;
  border-radius: 3%;
  width: 270px;
  height: 350px;
  border-style: double;
  /* border: 5px solid black; */
}
.productCard {
  margin: 3%;
  background-color: #cfdbd5;
  border-radius: 3%;
  width: 270px;
  height: 350px;
  border-style: double;
  /* border: 5px solid black; */
}

.nullifyCard {
  margin: 3%;
  background-color: #cfdbd5;
  border-radius: 3%;
  width: 270px;
  height: 350px;
  border-style: double;
  /* border: 5px solid black; */
}

.ingredientDescr {
  background-color: white;
  border: 2px solid green;
  font-size: 14px;
}

.descr {
  display: flex;
  align-items: center;
  /* flex:wrap; */
  /* padding: 2%; */
}

.descr i {
  padding: 3%;
}

.effectDescr {
  background-color: white;
  border: 2px solid red;
  font-size: 14px;
}

.productDescr {
  background-color: white;
  border: 2px solid blue;
  font-size: 14px;
}

/* #cardType{
    background-color: rgb(123, 123, 151);
  border: 2px solid blue;
  font-size: 14px;
} */

.nullifyDescr {
  background-color: white;
  border: 2px solid grey;
  font-size: 14px;
}

.userDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.myLibrary {
  padding: 3%;
}
/* ************************COLLECTION PAGE************************** */
.myCleaning {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 3%;
}

/* **************display card type differences************** */
/* #explainSupplies {
  background-color: #ffcd46;
  padding: 3%;
  border-radius: 10px;
} */

#explainSupplies h2 {
  margin: auto;
  text-align: center;
  font-size: 40px;
  background-color: #ffcd46;
  /* color: #ffcd46; */
  padding: 3%;
  border-radius: 10px;
}

#explainCards {
  padding: 2%;
  font-size: 20px;
  margin: auto;
}

#explainCards p {
  margin: 7% 0;
}

#explainCards i {
  font-size: 14px;
}

#infoSampleCards img {
  max-width: 220px;
}
#ingredSampleCard {
  display: flex;
}

/* **************create card form************** */

#createSupplies {
  border: 1px solid #ffcd46;
  padding: 2%;
  border-radius: 15px;
  max-width: 600px;
  margin: 2%;
}
.requiredLabel {
  color: red;
}

/* #promptType{
  margin-right:10%;
} */

#promptGoodBad {
  display: flex;
  justify-content: column;
}

#promptFlex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}
.displayGoodBad {
  margin-right: 5%;
}

.promptLabel {
  margin: 0;
}

#deleteBtn {
  background-color: white;
  padding: 0 3%;
  display: inline-block;
}

#editBtn {
  background-color: white;
  padding: 0 3%;
  margin: 0 0 0 75%;
  display: inline-block;
}

#deleteBtn:hover,
#editBtn:hover {
  background-color: #f6d76d;
}

#saveChangeBtn,
#noChangeBtn {
  display: none;
}

/* #editBtns{
  display:inline;
} */

#noChangeBtn {
  color: red;
  background-color: white;

  /* border: 1px solid red; */
}

/* **************display cards container************** */
#searchSupplies {
  margin: 5%;
  /* background-color: #ffcd46;
  padding: 1%;
  border-radius: 10px; */
}
#searchSupplies h3 {
  text-align: center;
  background-color: #ffcd46;
  padding: 1%;
  border-radius: 10px;
  margin: 2%;
}

/* clear button */
#clearSupplies {
  display: none;
  margin-top: 5%;
  margin-left: 85%;
  text-align: right;
  border: 2px solid red;
  color: red;
  background-color: white;
}

/* **************card display format************** */
.mySupplies {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* align-items: center; */
  /* background-color: #ffcd46; */
  /* border: 2px solid  #ffcd46;
    border-radius: 10px;
    padding: 7px 20px;
    margin:4%; */
}

.mySupplies .ingredientCard {
  /* width:100%; */
  margin: auto;
}

.mySupplies .effectCard {
  /* width:100%; */
  margin: auto;
}

.mySupplies .nullifyCard {
  /* width:100%; */
  margin: auto;
}
.mySupplies .productCard {
  /* width:100%; */
  margin: auto;
}

/* select #ingredient:hover{
  background-color: green;
  color:white;
} */

/* ************************QUIZ PAGE************************** */

/* #startQuizBtn {
  display: block;
  text-align: center;
  margin: 5% auto;
  font-size: 50px;
  font-weight: 700;
} */

#quizPageIntro div {
  font-size: 17px;
  text-align: center;
  /* margin: 2%; */
  border-radius: 10px;
  padding: 15px 25px;
  background-color: #ffcd46;
}

.questionNumber {
  font-size: 20px;
  margin: 1% 10%;
  background-color: #ffcd46;
  border-radius: 10px;
  padding: 7px 20px;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.quiz {
  display: flex;
}

.quizQuestion {
  display: flex;
  justify-content: center;
  margin-left: 10% 0;
}

.quizLabel {
  font-size: 30px;
  padding: 2% 2%;
  font-weight: 500;
  width: 50%;
}
.choices {
  font-size: 15px;
  margin: auto;
  /* background-color: #ffcd46;
    border-radius: 10px;
    padding: 7px 20px; */
}

.choices #choice1space {
  margin-right: 20px;
}

.quizBtn {
  margin: auto;
}

.quizBtn button {
  background-color: #ffcd46;
  border-radius: 10px;
  padding: 7px 20px;
  margin-left: 15%;
  /* margin-left: 40%; */
  border: none;
  font-weight: 600;
  font-size: 15px;
}

.quizBtn button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#question1 #cardDescr {
  display: none;
}

#question2 #cardDescr {
  display: none;
}

#answer {
  display: none;
}

.displayCorrect {
  font-size: 100px;
  /* margin-right: 5%; */
  align-items: center;
  display: flex;
}

#correct_icon {
  color: green;
}

#wrong_icon {
  color: red;
}

.displayQuizExplanation {
  font-size: 20px;
  background-color: #ffcd46;
  border-radius: 10px;
  padding: 7px 20px;
  /* display:none; */
  align-items: center;
  margin: 2%;
}

/* ************************ABOUT PAGE************************** */

.about h1 {
  font-size: 40px;
  text-align: center;
  margin: 3%;
}
.aboutDisplay {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
}

.aboutDisplay img {
  width: 50%;
  height: 600px;
  object-fit: cover;
}

.ourStory {
  width: 40%;
  margin: 3%;
  font-size: 17px;
}

.ourStory h2 {
  font-size: 60px;
  margin: 0;
  margin-bottom: 2%;
}

/* **********CONTACT********** */
.contactUs h3 {
  font-size: 30px;
  text-align: center;
  margin: 3%;
}
.displayContact {
  display: flex;
  /* border: 1px solid #ffcd46; */
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffcd46;
  border-radius: 10px;
  padding: 7px 20px;
  margin: 0 10%;
}

.displayContact p {
  font-size: 15px;
  text-align: center;
  font-weight: 700;
}

.displayContact a {
  font-size: 40px;
}

.displayContact i {
  color: white;
}

.displayContact i:hover {
  color: black;
}

.sendEmail {
  text-align: center;
  margin: 5%;
}

.sendEmail label {
  font-size: 20px;
  font-weight: 700;
}

#promptUser {
  margin: 5%;
}

.sendEmail input {
  width: 70%;
  text-align: left;
  border-radius: 10px;
  border: 3px solid #ffcd46;
  font-size: 20px;
}

#sendEmailBtn {
  background-color: #ffcd46;
  border-radius: 10px;
  padding: 7px 20px;
  /* margin-left: 5%; */
  border: none;
  font-weight: 600;
  font-size: 15px;
}
